In [1]:
import pandas as pd

df = pd.read_csv('jobs.csv')

In [13]:
df

,Unnamed: 0,Unnamed: 0.1,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,keyword
0,0,0,"['principal', 'ux', 'designer', 'physical', 'p...",$159K-$299K (Glassdoor est.),At Sonos we want to create the ultimate listen...,4.1,"Sonos, Inc.\n4.1","San Francisco, CA",-1,1001 to 5000 Employees,2002,Company - Public,Consumer Products Manufacturing,Manufacturing,$500 million to $1 billion (USD),-1,"ux,designer"
1,1,1,"['ux', 'ui', 'designer']",$159K-$299K (Glassdoor est.),#TeamNextdoor\n\n\nNextdoor is the neighborhoo...,4.1,Nextdoor\n4.1,"San Francisco, CA",-1,201 to 500 Employees,2010,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,"ux,designer"
2,2,2,"['ui', 'ux', 'architect', 'designer']",$159K-$299K (Glassdoor est.),Description: *\nSPODIO is a data-driven sports...,-1.0,Spodio Group,"San Francisco, CA",-1,1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,"ux,designer"
3,8,8,"['freelance', 'ui', 'ux', 'designer']",$159K-$299K (Glassdoor est.),SUMMARY OF POSITION\n\nThe UI/UX Designer is a...,3.6,On Board Entertainmet\n3.6,"San Francisco, CA",-1,51 to 200 Employees,1995,Company - Private,Advertising & Marketing,Business Services,$50 to $100 million (USD),-1,"ux,designer"
4,9,9,"['jr', 'ux', 'designer']",$159K-$299K (Glassdoor est.),"WHO WE ARE:\n\nFounded in 2012, BirdEye is hea...",4.5,BirdEye\n4.5,"Palo Alto, CA",-1,201 to 500 Employees,2012,Company - Private,Internet,Information Technology,$25 to $50 million (USD),-1,"ux,designer"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,12,12,"['growth', 'marketing', 'manager']",$53K-$102K (Glassdoor est.),The Growth Marketing Manager role is focused o...,3.9,Totango\n3.9,"Redwood City, CA",-1,51 to 200 Employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,marketing
127,14,14,"['marketing', 'associate']",$53K-$102K (Glassdoor est.),Job Title\n\nMarketing Associate\n\nShift Type...,3.6,"See's Candies, Inc.\n3.6","Daly City, CA",-1,1001 to 5000 Employees,1921,Subsidiary or Business Segment,"Gift, Novelty & Souvenir Stores",Retail,$100 to $500 million (USD),-1,marketing
128,19,19,"['content', 'marketing', 'manager']",$53K-$102K (Glassdoor est.),"Who we are:\n\nNitro is an exciting, high-grow...",4.2,"Nitro, Inc.\n4.2","San Francisco, CA",-1,51 to 200 Employees,2005,Company - Public,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),-1,marketing
129,20,20,"['lifecycle', 'marketing', 'manager']",$53K-$102K (Glassdoor est.),"Weâ€™re here to create a safer, happier and more...",4.5,Blue Owl\n4.5,"San Francisco, CA",-1,51 to 200 Employees,2016,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,marketing
130,22,22,"['marketing', 'operations', 'analyst']",$53K-$102K (Glassdoor est.),Job Description\n\n\nWe are looking for a Mark...,4.5,Zendesk Inc.\n4.5,"San Francisco, CA",-1,1001 to 5000 Employees,2007,Company - Public,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),-1,marketing

In [12]:
jobs_df = pd.DataFrame(zip(df['Job Description'], df['keyword']), columns = ['Description', 'Job'])
jobs_df.Job.unique()
jobs_df

                                           Description          Job
0    At Sonos we want to create the ultimate listen...  ux,designer
1    #TeamNextdoor\n\n\nNextdoor is the neighborhoo...  ux,designer
2    Description: *\nSPODIO is a data-driven sports...  ux,designer
3    SUMMARY OF POSITION\n\nThe UI/UX Designer is a...  ux,designer
4    WHO WE ARE:\n\nFounded in 2012, BirdEye is hea...  ux,designer
..                                                 ...          ...
126  The Growth Marketing Manager role is focused o...    marketing
127  Job Title\n\nMarketing Associate\n\nShift Type...    marketing
128  Who we are:\n\nNitro is an exciting, high-grow...    marketing
129  Weâ€™re here to create a safer, happier and more...    marketing
130  Job Description\n\n\nWe are looking for a Mark...    marketing

[131 rows x 2 columns]

### Make Cleaning Function

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import TreebankWordTokenizer
from nltk.stem import PorterStemmer
import pandas as pd
import re

def tokenize_stem(series):
    
    tokenizer =TreebankWordTokenizer() 
    stemmer = PorterStemmer()
    series = series.apply(lambda x: tokenizer.tokenize(x))
    series = series.apply(lambda x: [stemmer.stem(w) for w in x])
    series = series.apply(lambda x: ' '.join(x))
    return series

example = tokenize_stem(example)

In [5]:
# example

In [6]:
# ex_label = [e[:30]+"..." for e in example]
# vectorizer = CountVectorizer(stop_words = 'english')
# doc_word = vectorizer.fit_transform(example)
#pd.DataFrame(doc_word.toarray(), index=ex_label, columns=vectorizer.get_feature_names())

In [51]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import NMF
from sklearn.metrics.pairwise import cosine_similarity

def display_topics(model, feature_names, no_top_words, topic_names=None):
    for i, topic in enumerate(model.components_):
        if not topic_names or not topic_names[i]:
            print("\nTopic ", i)
        else:
            print("\nTopic: '",topic_names[i],"'")
        print(", ".join([feature_names[k]
                        for k in topic.argsort()[:-no_top_words - 1:-1]]))
    return [topic for topic in model.components_]
    return model.components_


def return_topics(series, num_topics, no_top_words):
    #turn job into series
    #df = jobs_df[jobs_df['Job']==job]
    
    
    #clean series
    
    series = tokenize_stem(series)
    #transform series into corpus
    ex_label = [e[:30]+"..." for e in series]
    #set vectorizer ngrams = (2,2)
    vectorizer = CountVectorizer(stop_words = 'english')
    
    doc_word = vectorizer.fit_transform(series)
    #build nmf model
    nmf_model = NMF(num_topics)
    doc_topic = nmf_model.fit_transform(doc_word)
    
    display_topics(nmf_model, vectorizer.get_feature_names(), no_top_words)
    return nmf_model.components_, doc_topic#, topics

In [53]:
array,doc = return_topics(jobs_df['Description'],20, 10)
doc.shape

# look at topics and see what makes sense

# recommend roles that are best for you based on supervised learnings

# these are the jobs descriptions that are best for you based on your resume

# these are the best words for your resume based on which job you want to go into

Topic_DF = pd.DataFrame(doc)

Topic  0
insur, work, requir, year, manag, benefit, job, locat, employe, tim

Topic  1
project, manag, develop, requir, team, vendor, plan, work, busi, member

Topic  2
design, user, ux, visual, interact, product, experi, ui, research, prototyp

Topic  3
data, busi, experi, analyst, report, employ, analyt, analysi, applic, use

Topic  4
market, team, email, work, custom, campaign, growth, optim, help, drive

Topic  5
product, roostifi, custom, lend, busi, success, team, technic, experi, opportun

Topic  6
client, manag, work, account, skill, time, servic, insur, compani, abil

Topic  7
trial, project, clinic, develop, manag, spi, work, knowledg, program, advanc

Topic  8
market, develop, content, manag, skill, experi, campaign, brand, includ, media

Topic  9
experi, work, team, design, ux, user, program, sono, complex, need

Topic  10
project, chang, work, maintain, owner, subcontractor, schedul, expedit, prepar, coordin

Topic  11
paypal, design, ux, team, busi, statu, work, financi, creat, account

Topic  12
broker, enrol, healthsherpa, agenc, train, manag, develop, work, health, team

Topic  13
ecommerc, manag, product, experi, custom, work, busi, develop, team, brand

Topic  14
custom, sale, account, compani, develop, busi, manag, medidata, team, lead

Topic  15
data, neustar, model, market, work, analyt, ll, insight, compani, analyst

Topic  16
project, manag, construct, requir, compani, job, work, year, schedul, abil

Topic  17
project, client, manag, bg, ensur, contractor, owner, construct, includ, team

Topic  18
peopl, work, dropbox, team, analyt, data, compani, survey, hire, make

Topic  19
product, manag, experi, custom, develop, busi, work, partner, team, app

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.000000,0.041645,0.123398,0.000000,0.000000,0.256895,0.000000,0.000000,0.000000,6.788130,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006420,0.000000,0.000000
1,0.000000,0.000000,1.459984,0.000000,0.199607,0.000000,0.000000,0.000000,0.000000,0.544958,0.0,0.019164,0.102918,0.000000,0.000000,0.108832,0.000000,0.017719,0.676259,1.006797
2,0.704877,0.000000,1.360443,0.057453,0.097768,0.000000,0.000000,0.000000,0.000000,0.675642,0.0,0.014857,0.000000,0.000000,0.000000,0.068042,0.000000,0.000000,0.501443,0.301841
3,0.000000,0.072784,1.702927,0.000000,0.022764,0.000000,0.330531,0.017004,0.034402,1.332555,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.018983,0.011649,0.000000
4,0.006084,0.000000,1.717911,0.000000,0.110918,0.100426,0.000000,0.000000,0.000000,0.276963,0.0,0.000000,0.000000,0.413979,1.068523,0.000000,0.000000,0.000000,0.557105,0.137346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,0.000000,0.109431,0.000000,0.000000,1.048187,0.000000,0.000000,0.000000,0.705936,0.436608,0.0,0.000000,0.000000,0.125199,1.108339,0.000000,0.109398,0.000000,0.000000,0.766413
127,0.035771,0.297306,0.000000,0.122346,0.332783,0.000000,0.083092,0.099868,2.230096,0.163980,0.0,0.000000,0.000000,0.126935,0.099382,0.000000,0.474115,0.083396,0.000000,0.054292
128,0.000000,0.000000,0.000000,0.000000,0.409779,0.487867,0.046285,0.000000,0.789292,0.058058,0.0,0.386926,0.214636,0.000000,0.270181,0.000000,0.000000,0.000000,1.055241,0.892871
129,0.000000,0.000000,0.091743,0.007969,7.373472,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.654088,0.020979,0.000000,0.000000,0.000000,0.000000,0.308523
130,0.000000,0.108201,0.000000,1.645508,0.217106,0.019946,0.000000,0.015393,1.115967,0.096458,0.0,0.006509,0.000000,0.000000,0.215778,0.000000,0.313266,0.041819,0.051941,0.082894

In [29]:
#will tf_idf make topics more significant? What do these topics even mean?
    #are these the most common words across all documents?
    #how can we get the words sorted in terms of importance?
    #how many topics should i output?
    #how can i make this feel more significant? What's the so-what of this?

#what do these components mean? do we even need to separate them into several components?
#do you have to tokenize / stem / POS tag before you feed into the count vectorizer? done
#how do you incorporate n-grams into NMF? - key question

#what do these topics even mean...

#can you return topics by POS tagging

In [30]:
topic_word = pd.DataFrame(nmf_model.components_.round(3),
             index = ["component_1","component_2"],
             columns = vectorizer.get_feature_names())
topic_word

display_topics(nmf_model, vectorizer.get_feature_names(), 40)

AttributeError: 'NMF' object has no attribute 'components_'